
h1 {
    color: red;
}

form {
    margin-left: 50px;
}

label[for='To'] {
    margin-left: 50px;
}

.flight, #title {
    display: grid;
    grid-template-columns: 150px 150px 150px 150px 150px 150px;

}

.grid-item {
    padding: 10px;
    background-color: #93c6f0;
    border: 1px solid black;
    text-align: left;
}

#title {
    margin-top:10px;
    font-weight: bold;
    font-size: 16px;
}
